body{
    margin: 0px; 

    padding: 0px;

    background-color: #deb887;
}

.morabaraba-text {

  margin-top: 100px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-family: Arial;

  font-size: 100px
 
}

.local-play{

  display: flex;

  justify-content: center;

  align-items: center;

  margin: 20px;
  
}

.online-play{

  display: flex;

  justify-content: center;

  align-items: center;
  
  margin: 20px;
}

.log-in{

    margin: 20px;

    display: flex;

    justify-content: flex-end;
  
}

.log-in-button{

    border: solid;

    padding: 10px;

    font-family: Arial;

    font-weight: bold;

    border-radius: 5px;

    background-color: #8b4513;

   
}

.local-button{

    border: solid;

    padding: 20px;

    font-family: Arial;

    font-weight: bold;

    font-size: 20px;

    border-radius: 20px;

    color: black;

    background-color: #8b4513;

}

.online-button{

    border: solid;

    margin-top: 30px;

    padding: 20px;

    font-family: Arial;

    font-weight: bold;

    font-size: 20px;

    border-radius: 20px;

    color: black;

    background-color: #8b4513;

}

.modal{

    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open{

    opacity: 1;
    z-index: 999;
}

.modal-inner{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-1{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-2{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-3{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-4{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-5{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}

.modal-inner-6{

    background-color: #8b4513;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 300px;
    height: 350px;
    color: black;
}


.closeModal{

    display: block;
    background-color: #deb887;
    border: solid;
}

.Play-with-firend{

   display: block;
   margin-top: 30px;
   margin-left: 95px;
   padding: 20px;
   border-radius: 20px;
   background-color: #deb887;
   border: solid;
   font-weight: bold;
   
}

.Play-with-AI{

   display: block;
   margin-top: 30px;
   margin-left: 111px;
   padding: 20px;
   border-radius: 20px;
   background-color: #deb887;
   border: solid;
   font-weight: bold;
}

.username-input{

    display: block;
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    border-color: black;
    border: solid;
}

.email-input{

    display: block;
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    border-color: black;
    border: solid;
}

.password-input{

    display: block;
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    border-color: black;
    border: solid;
}

.inner-login-button{

    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 110px;
    padding: 15px;
    border-radius: 15px;
    background-color: #deb887;
    border: solid;
    border-width: 2px;
    font-weight: bold;
    
}

.inner-signup-button{

    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 107px;
    padding: 15px;
    border-radius: 15px;
    background-color: #deb887;
    border-width: 2px;
    border: solid;
}

.create-account-button{

    padding: 5px;
    background-color: #deb887;
    padding: 15px;
    border: solid;
    border-radius: 15px;
    border-width: 2px;
    font-weight: bold;
}

.create-room-button{

    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left:90px;
    padding: 20px;
    border-radius: 20px;
    background-color: #deb887;
    border: solid;
    font-weight: bold;
}

.join-room-button{

    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 99px;
    padding: 20px;
    border-radius: 20px;
    background-color: #deb887;
    border: solid;
    font-weight: bold;
}

.ai-difficulty-button-1-3{

    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 99px;
    padding: 20px;
    border-radius: 20px;
    background-color: #deb887;
    border: solid;
    font-weight: bold;

}

.ai-difficulty-button-2{

    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    padding: 20px;
    border-radius: 20px;
    background-color: #deb887;
    border: solid;
    font-weight: bold;

}

.code-display-text{

    font-size: 25px;
}

.room-code-text{

    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.input-bar{

    padding: 20px;
    border-color: black;
    border: solid;
}

.enter-code-text{

    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
}

.join-button{

    display:block;
    padding: 15px;
    margin-top: 20px;
    margin-left: 115px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: solid;
    background-color: #deb887;
    font-weight: bold;
}